<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>

<h1>This is the Show-Page for User</h1>
<%= current_user.first_name %>
</br>
<%= link_to "Edit Profile", edit_user_path(current_user.id) %>
<%= link_to "Back to home", :root %>
