<h1>This is the index-page</h1>
<%= link_to "Add New Addresses", new_user_address_path(@user) %></br>
<%= link_to "Show Profile", user_path(current_user.id) %>
<%= render partial: "address", collection: @addresses %>
